# Java and Maven build artifacts
target/
*.class
*.jar
*.war
*.ear

# Eclipse files
*.log
.metadata
.classpath
.project
.settings/

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws
out/

# NetBeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code files
.vscode/

# Gradle files
.gradle/
build/

# Maven files
.mvn/
target/
pom.xml.tag
